<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>NOSOTROS</title>
	<link rel="stylesheet"  href="../css/estilos.css">
</head>
<body>
	<div class="contenedorPadre-nosotros">
		<div class="navIzq">
			<ul>
				<li><a href="../index.html">INICIO</a></li>
				<li><a href="productos.html">PRODUCTOS</a>
			</ul>
		</div>
		<div class="logo">
			<img src="../assets/img/libro-abierto.png" alt="logo" class="logoLibro">
		</div>
		<div class="navDer">
			<ul>
				<li><a href="nosotros.html">NOSOTROS</a></li>
				<li><a href="contacto.html">CONTACTO</a></li>
			</ul>
		</div>
		<div class="encabezadoPrincipal">
			<h1>¿Quienes somos?</h1>
		</div>
		<div class="txt">
		<p>Somos una pequeña empresa llamada "lectormania", nuestro objetivo es promover la lectura de diferentes tipos de libros para todo el publico y con precios muy accesibles</p>
		</div>
		<footer class="flex-foo">
			<img src="../assets/img/karma.jpg" alt="guar"	class="img-karma">
		<h3>REDES SOCIALES</h3>
			<img src="../assets/img/facebook.png" alt="logo face" class="logoFacebook">
			<img src="../assets/img/instagram.png" alt="logo insta" class="logoInstagram">
		<h3>CONTACTO</h3>
			<p>MZz lote 12 Urb virgen del carmen ate-vitarte</p>
			<p>987654321</p>
		</footer>
	</main>
	</body>
</html>	
